In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [3]:
#Create a spark application
spark = SparkSession.builder.appName("groupbyagg").getOrCreate()

In [4]:
#Load the athlete_events.csv from Local System
athlete_events = spark.read.csv('file:///home/hduser/demo_1/athlete_events.csv',sep=',',inferSchema=True,header=True)

In [5]:
#Change your DB and table name as per your requirements...
MySQL_URL = "jdbc:mysql://localhost:3306/sqoop"
MySQL_driver = "com.mysql.jdbc.Driver"
MySQL_table = "athlete_events_MYSQL"
user = "root"
password = "password"

In [6]:
#Write a spark DF into a MySQL table.
athlete_events.write.format('jdbc').options(url=MySQL_URL,driver=MySQL_driver,dbtable=MySQL_table,user=user,password=password).mode('overwrite').save()

In [7]:
#Read the data from MySQL table and store it in a spark DF.
read_from_MYSQL = spark.read.format("jdbc").option("url", MySQL_URL).option("driver", MySQL_driver).option("dbtable", MySQL_table).option("user", user).option("password", password).load()

In [8]:
# Check the data
read_from_MYSQL.show(8)

+-----+--------------------+---+---+------+------+-----------+---+-----------+----+------+---------+-------------+--------------------+-----+
|   ID|                Name|Sex|Age|Height|Weight|       Team|NOC|      Games|Year|Season|     City|        Sport|               Event|Medal|
+-----+--------------------+---+---+------+------+-----------+---+-----------+----+------+---------+-------------+--------------------+-----+
|37971| Adrian-Francisc Gal|  M| 21|    NA|    NA|    Romania|ROU|1992 Summer|1992|Summer|Barcelona|   Gymnastics|Gymnastics Men's ...|   NA|
|37971| Adrian-Francisc Gal|  M| 21|    NA|    NA|    Romania|ROU|1992 Summer|1992|Summer|Barcelona|   Gymnastics|Gymnastics Men's ...|   NA|
|37971| Adrian-Francisc Gal|  M| 21|    NA|    NA|    Romania|ROU|1992 Summer|1992|Summer|Barcelona|   Gymnastics|Gymnastics Men's ...|   NA|
|37971| Adrian-Francisc Gal|  M| 21|    NA|    NA|    Romania|ROU|1992 Summer|1992|Summer|Barcelona|   Gymnastics|Gymnastics Men's ...|   NA|
|37971| Adrian-Francisc Gal|  M| 21|    NA|    NA|    Romania|ROU|1992 Summer|1992|Summer|Barcelona|   Gymnastics|Gymnastics Men's ...|   NA|
|37971| Adrian-Francisc Gal|  M| 21|    NA|    NA|    Romania|ROU|1992 Summer|1992|Summer|Barcelona|   Gymnastics|Gymnastics Men's ...|   NA|
|37971| Adrian-Francisc Gal|  M| 21|    NA|    NA|    Romania|ROU|1992 Summer|1992|Summer|Barcelona|   Gymnastics|Gymnastics Men's ...|   NA|
|37972|"Edwin Johannes "...|  M| 42|   182|    72|Netherlands|NED|2012 Summer|2012|Summer|   London|Equestrianism|Equestrianism Mix...|   NA|
+-----+--------------------+---+---+------+------+-----------+---+-----------+----+------+---------+-------------+--------------------+-----+
only showing top 8 rows